.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-family: 'Major Mono Display', monospace;
}

.navbar-logo {
    height: 50%;
    transform: translateY(80%);
}
/* 
.navbar-item {
    border: 1px solid green;
} */

.navbar-link-container {
    display: flex;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}