.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    font-family: 'Major Mono Display', monospace;
}

.navbar-icon {
    height: 20px;
    transform: translateY(80%);
}

.navbar-link-container {
    display: flex;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}